@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.homepage-body {
  background: url('/images/inventura.svg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  overflow: hidden
}

/* Globální nastavení */
body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Nastaví výšku stránky */
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Zajistí, že hlavní obsah zabere zbývající výšku */
}

        